<footer class="bg-main-light py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="h3">Get The FreshCart App</h2>
        <p>We will send you a link, open it in your phone to download the App.</p>
      </div>
      <div class="col-md-12 d-flex gap-3 mb-2">
        <input type="email" class="form-control" placeholder="email...">
        <button class="main-btn flex-shrink-0">Share App Link</button>
      </div>
      <hr>
      <div class="col-md-4 ">
        <div class="payment d-flex align-items-center">
          <p class="h5">Payment Partners</p>
          <img src="./assets/images/visa-1.svg" alt="Visa Payment">
          <img src="./assets/images/visa.svg" alt="Visa Payment">
        </div>
      </div>
      <div class="col-md-6 ms-auto">
        <div class="download d-flex align-items-center justify-content-evenly">
          <p class="h6">Get delivers With Fresh Cart</p>
          <div class="bg-black d-flex justify-content-center align-items-center p-1 rounded ">
            <div class="photo">
              <img src="./assets/images/app-store.svg" class="download-img" alt="app store">
            </div>
            <div class="caption text-center mx-1">
              <p class="font-sm text-white p-0 m-0">Available on the </p>
              <p class="text-white font-2sm p-0 m-0">App Store</p>
            </div>
          </div>
          <div class="bg-black d-flex justify-content-center align-items-center p-1 rounded ">
            <div class="photo">
              <img src="./assets/images/google-store.svg" class="download-img" alt="google-store">
            </div>
            <div class="caption text-center mx-1">
              <p class="font-sm text-white p-0 m-0">Get It On </p>
              <p class="text-white font-2sm p-0 m-0">Google Play</p>
            </div>
          </div>
        </div>
      </div>
      <hr>

    </div>

  </div>
</footer>
