
<section class="py-3">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-8">
        <owl-carousel-o [options]="mainSlideOptions">
          <ng-template carouselSlide><img src="./assets/images/main-slider-1.jpeg" height="500px" alt="main slider photo 1"></ng-template>
          <ng-template carouselSlide><img src="./assets/images/main-slider-2.jpeg" height="500px" class="w-100" alt="main slider photo 2"></ng-template>
          <ng-template carouselSlide><img src="./assets/images/رمضان.jpg" height="500px" alt="main slider photo 2"></ng-template>
          <ng-template carouselSlide><img src="./assets/images/main-slider-3.jpeg" height="500px" class="w-100" alt="main slider photo 3"></ng-template>
          <ng-template carouselSlide><img src="./assets/images/عروض-بيم-لشهر-رمضان-2024-2-800x600.jpg" height="500px" alt="main slider photo 2"></ng-template>

        </owl-carousel-o>
      </div>
      <div class="col-md-4">
        <img src="./assets/images/main-slider-2.jpeg" height="250px" class="w-100" alt="main slider photo 2">
        <img src="./assets/images/main-slider-3.jpeg" height="250px" class="w-100" alt="main slider photo 3">
      </div>
    </div>
  </div>
</section>

<section *ngIf="categories.length > 0">
  <h2 class="h4 pt-4 fw-bold">Shop Popular Categories</h2>

  <owl-carousel-o [options]="categoryOptions">

    <ng-container *ngFor="let category of categories">
      <ng-template carouselSlide [id]="category._id" >
        <div class="text-center bg-main-light">
          <img height="300" [src]="category.image" class="" [alt]="category.name" [title]="category.name">
          <h3 class="h6 text-main small fw-bold">{{category.name}}</h3>
        </div>


      </ng-template>
    </ng-container>

  </owl-carousel-o>
</section>

<section class="mt-2 mb-4" *ngIf="products.length > 0">
  <h2 class="h4 pt-4 fw-bold">Shop Popular Products</h2>
  <div class="row g-4">
    <!-- <input type="search" class="form-control w-50 mx-auto my-4" placeholder="Search..." [(ngModel)]="searchTerm" > -->
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let product of products | slice:0:18 ">
      <div class="product p-2 position-relative">
        <i *ngIf="wishListDetails.includes(product._id)" (click)="removeItemFromWishList(product._id)" class="fa-solid fa-heart cursor-pointer text-danger heart"></i>
        <i *ngIf="!wishListDetails.includes(product._id)" (click)="goWish(product._id)" class="fa-regular fa-heart heart text-danger cursor-pointer"></i>
        <div class="cursor-pointer "  [routerLink]= "['/details',product._id]">
          <div>
            <img [src]="product.imageCover" class="w-100" [title]="product.title" [alt]="product.title">
            <h3 class="h6 fw-bold pt-1">{{product.title | cuttext:2}}</h3>
            <h4 class="h6 text-main py-0">{{product.category.name}}</h4>

            <div class="small">
              <span>{{product.price | currency: 'EGP '}}</span>
              <div>
                <i [class.rating-color]="product.ratingsAverage >= num" *ngFor="let num of [1,2,3,4,5]" class="fa-solid fa-star"></i>
                <!-- <span class="text-muted">{{product.ratingsAverage}}</span> -->
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute cart-shopping cursor-pointer" (click)="goCart(product._id, shopping ,correct)">
          <i #shopping class="fa-solid fa-cart-shopping text-main fs-3 "></i>
          <i #correct class="fa-solid fa-check text-main fs-3 d-none "></i>
          <!-- <i class="fa-solid fa-check"></i> -->
        </div>
      </div>
    </div>
  </div>
  <!-- //
  //(click)="addCart(product._id)" -->
</section>


