
<section *ngIf="status1" class="w-75 mx-auto rounded shadow my-4 p-4 bg-main-light">
  <form [formGroup]="forgetPassword" (ngSubmit)="sendEmail()">
    <div class="form-item">
      <label for="email" class="fw-bold">Email</label>
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="email...">
    </div>
    <button class="main-btn mt-2 d-block ms-auto"><span *ngIf="isLoading"><i  class="fa-solid fa-spinner fa-spin"></i></span> Verify Code</button>
  </form>
</section>


<section  *ngIf="status2" class="w-75 mx-auto rounded shadow my-4 p-4 bg-main-light">
  <form [formGroup]="resetCode" (ngSubmit)="sendCode()">
    <div class="form-ite
    m">
      <label for="code" class="fw-bold">Reset Code</label>
      <input formControlName="resetCode"  type="text" class="form-control" id="code">
    </div>
    <button class="main-btn mt-2 d-block ms-auto"><span *ngIf="isLoading"><i  class="fa-solid fa-spinner fa-spin"></i></span> Reset Code</button>
  </form>
</section>

<section  *ngIf="status3" class="w-75 mx-auto rounded shadow my-4 p-4 bg-main-light">
  <form [formGroup]="resetPassword" (ngSubmit)="sendNewPassword()">
    <div class="form-item">
      <label for="newPassword" class="fw-bold">Reset Password</label>
      <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="enter new password...">
    </div>
    <button class="main-btn mt-2 d-block ms-auto"><span *ngIf="isLoading"><i  class="fa-solid fa-spinner fa-spin"></i></span> Reset Password</button>
  </form>
</section>
